// Colors 
@c_vlmain : #FCE4EC;
@c_main : #E91E63;
@c_dmain : #880E4F;

@c_vlsecond: #CFD8DC;
@c_second: #607D8B;
@c_dsecond: #455A64;
@c_vdsecond: #263238;

@c_vlthird: #eee;
@c_third: #aaa;

@c_text : #333;

@c_white : #fff;

//Mixins

.box-shadow(){
    box-shadow: 0 0 8px rgba(0,0,0,.3);
}

.transition(@time : .3s){
    transition: all ease @time;
}

.cf{
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}